input,
button {
  padding-inline: 1rem;
  padding-block: 0.7rem;
  border-radius: 1rem;
  border: none;

}

button {
  background-color: rgb(54, 54, 54);
  color: rgb(247, 238, 238);
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  transition: all 0.2s ease-in-out;
  margin-inline: 0.5rem;
 

  &:active {
    background-color: rgb(218, 21, 21);
    color: rgb(0, 0, 0);
    scale: 0.9;
  }
}